<h1>Hello, here is a list of {{name}} playlists!</h1>

{{#if results}}
    <ul>
        {{#each results}}
            <li>
                <a href="/playlistInfo?owner={{this.owner.id}}&id={{this.id}}">{{this.name}} created by: {{this.owner.id}}</a>
            </li>
        {{/each}}
    </ul>
{{/if}}
