<!doctype html>
<html>
<head>
    <title>Workout Sessions Page</title>
    <script src="/js/script.js"></script>
<body>
<h1>Hello {{username}} Here is your workout information!</h1>
<h2>You have {{toDoCount}} workout sessions.</h2>
<form >
    <fieldset>
        <legend>Enter New Workout</legend>
        Exercise Name: <input type="text" name="name" id="name">
        Reps Count: <input type="text" name="reps" id="reps">
        Weight: <input type="text" name="weight" id="weight">
        Date: <input type="text" name="date" id="date">
        Lbs or Kgs: <input type="text" name="lbs" id="lbs">
        <input type="submit" id="AddRow">
    </fieldset>
</form>

    <table id="workoutNav">
        <tr>
            <th>Name</th>
            <th>Reps</th>
            <th>Weight</th>
            <th>Date</th>
            <th>Lbs</th>
            <th></th>
            <th></th>
        </tr>
        {{#if results}}
            {{#each results}}
                <tr>
                    <th>{{this.name}}</th>
                    <th>{{this.reps}}</th>
                    <th>{{this.weight}}</th>
                    <th>{{this.date}}</th>
                    <th>{{this.lbs}}</th>
                </tr>
            {{/each}}
        {{/if}}
    </table>

</body>
</html>