<!doctype html>
<html>
<head>
    <title>Update Workout Page</title>
    <script src="/js/script.js"></script>
<body>
<h1>Hello, Please update the workout session below:</h1>
<form >
    <fieldset>
        <legend>Update Workout</legend>
        Exercise Name: <input type="text" name="name" value="{{name}}" id="name">
        Reps Count: <input type="text" name="reps" value="{{reps}}" id="reps">
        Weight: <input type="text" name="weight" value="{{weight}}" id="weight">
        Date: <input type="text" name="date" value="{{date}}" id="date">
        Lbs or Kgs: <input type="text" name="lbs"{{lbs}} id="lbs">
        <input type="submit" id="updateRow">
    </fieldset>
</form>


</body>
</html>